@media only screen and (min-width: 1280px) {
    /* For desktops: */

    .educationDiv{
        margin: 2%;
        margin-bottom: 7%;
        padding: 3%;
        text-align: left;
        background-color: white;
        border-radius: 20px;
        color: black;
        cursor: pointer;

    }
    .educationHeaderDiv{
        width: 98%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .educationImg{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .educationParagrpah{
        color: black;
        margin-bottom: .2%;

    }
    .regularPTag{
        color: black;
        font-weight: 300;
    }

    .aboutMainImageAndHeaderDiv{
        display: flex;
        flex-direction: row;
        height: 450px;
        width: 100vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        justify-content: space-between;
    }
    p{
        color: white;
        text-align: left;
        font-size: large;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .aboutTextDiv{
        margin: 3%;
    }

    .aboutMainHeader{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50vw;
    }
    .aboutMainImage{
        min-width: 50vw;
        max-height: 450px;
        object-fit: cover;
    }

    .mainAboutVideo{
        width: 100%;
        height: 550px;
        border: none;
        animation: contact-box-shadow-animation 2.5s linear infinite;
    }

    .littleBigPlanetVideoTitle{
        font-size: 20px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    .aboutTitle{
        font-size: 72px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutTitle2{
        font-size: 42px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .educationalBackgroundandWorkTitles{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutBioTitle{
        font-size: 32px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
    }

    .blackgradientBackground{
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        animation: contact-box-shadow-animation 2.5s linear infinite;

    }
    .mainAboutContentDiv{
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        width: 60vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        justify-content: space-around;
 padding: 2%;
 border-radius: 7px;
        box-shadow: 5px 5px 10px black;
        animation: contact-box-shadow-animation 2.5s linear infinite;
        margin-bottom: 3%;
        height: 120vh;
        
    }
    .aboutBackgroundDiv{
        display: flex;
        position: relative;
        flex-direction: column;
       justify-content: space-between;
       /* overflow-y:auto; */
        height: 100%;
        width: 50%;

    }

    .aboutcodingKnowledgeDiv{
        
        background-color: white;
        border-radius: 16px;
        

        height: 100%;
        width: 25%;


    }
    .aboutCodingKnowledgeFlexDiv{
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        

    }

    .aboutBackgroundDivMaterial{
       
        width: 100%;
        height: 45%;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        margin-bottom: 10%;
        overflow-y:auto;
        

    }


    @keyframes contact-box-shadow-animation {
        0%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
        50%{
            box-shadow: 0 0 3rem 0 rgba(86,198,254,1); 
        }
        100%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
    }

    .indivisualCodingKnowledgePlatform{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 40px;
        margin: 5%;
        background: rgba(255, 255, 255, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
    }
    .indidivisualCodingKnowledgeImage{
        position: relative;
        left: 5%;
        height: 100%
    }
    .indivisualCodingKnowledgeText{
        position: relative;
        right: 10%;
        top: -17%;

    }
   

      


      


    
   

     

      
    
  }

 @media only screen and (max-width: 1279px) {
    /* For for laptops and tabletss: */

    .educationDiv{
        margin: 2%;
        margin-bottom: 7%;
        padding: 3%;
        text-align: left;
        background-color: white;
        border-radius: 20px;
        color: black;
        cursor: pointer;

    }
    .educationHeaderDiv{
        width: 98%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .educationImg{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .educationParagrpah{
        color: black;
        margin-bottom: .2%;

    }
    .regularPTag{
        color: black;
        font-weight: 300;
    }

    .aboutMainImageAndHeaderDiv{
        display: flex;
        flex-direction: row;
        height: 450px;
        width: 100vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        justify-content: space-between;
    }
    p{
        color: white;
        text-align: left;
        font-size: large;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .aboutTextDiv{
        margin: 3%;
    }

    .aboutMainHeader{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50vw;
    }
    .aboutMainImage{
        min-width: 50vw;
        max-height: 450px;
        object-fit: cover;
    }

    .mainAboutVideo{
        width: 100%;
        height: 550px;
        border: none;
        animation: contact-box-shadow-animation 2.5s linear infinite;
    }

    .littleBigPlanetVideoTitle{
        font-size: 20px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    .aboutTitle{
        font-size: 72px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutTitle2{
        font-size: 42px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .educationalBackgroundandWorkTitles{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutBioTitle{
        font-size: 32px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
    }

    .blackgradientBackground{
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        animation: contact-box-shadow-animation 2.5s linear infinite;

    }
    .mainAboutContentDiv{
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        width: 60vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        justify-content: space-around;
 padding: 2%;
 border-radius: 7px;
        box-shadow: 5px 5px 10px black;
        animation: contact-box-shadow-animation 2.5s linear infinite;
        margin-bottom: 3%;
        height: 120vh;
        
    }
    .aboutBackgroundDiv{
        display: flex;
        position: relative;
        flex-direction: column;
       justify-content: space-between;
       /* overflow-y:auto; */
        height: 100%;
        width: 50%;

    }

    .aboutcodingKnowledgeDiv{
        
        background-color: white;
        border-radius: 16px;
        

        height: 100%;
        width: 25%;


    }
    .aboutCodingKnowledgeFlexDiv{
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        

    }

    .aboutBackgroundDivMaterial{
       
        width: 100%;
        height: 45%;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        margin-bottom: 10%;
        padding: 4%;
        overflow-y:auto;
        

    }


    @keyframes contact-box-shadow-animation {
        0%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
        50%{
            box-shadow: 0 0 3rem 0 rgba(86,198,254,1); 
        }
        100%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
    }

    .indivisualCodingKnowledgePlatform{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 40px;
        margin: 5%;
        background: rgba(255, 255, 255, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
    }
    .indidivisualCodingKnowledgeImage{
        position: relative;
        left: 5%;
        height: 100%
    }
    .indivisualCodingKnowledgeText{
        position: relative;
        right: 8%;
        top: -17%;
        font-size: 10px;

    }

   
    
  }

  
  @media only screen and (max-width: 769px) {
    /* Forbigger mobile phones and small tablets: */
    
    .educationDiv{
        margin: 2%;
        margin-bottom: 7%;
        padding: 3%;
        text-align: left;
        background-color: white;
        border-radius: 20px;
        color: black;
        cursor: pointer;

    }
    .educationHeaderDiv{
        width: 98%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .educationImg{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .educationParagrpah{
        color: black;
        margin-bottom: .2%;

    }
    .regularPTag{
        color: black;
        font-weight: 300;
    }

    .aboutMainImageAndHeaderDiv{
        display: flex;
        flex-direction: row;
        height: 333.33333px;
        width: 100vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        justify-content: space-between;
    }
    p{
        color: white;
        text-align: left;
        font-size: large;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .aboutTextDiv{
        margin: 3%;
    }

    .aboutMainHeader{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50vw;
    }
    .aboutMainImage{
        /* min-width: 20vw; */
        /* max-height: 450px; */
        object-fit: cover;
        min-width: 20px;
        max-width: 500px;
        min-height: 333;
    }

    .mainAboutVideo{
        width: 100%;
        height: 550px;
        border: none;
        animation: contact-box-shadow-animation 2.5s linear infinite;
    }

    .littleBigPlanetVideoTitle{
        font-size: 20px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    .aboutTitle{
        font-size: 50px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutTitle2{
        font-size: 42px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .educationalBackgroundandWorkTitles{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutBioTitle{
        font-size: 32px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
    }

    .blackgradientBackground{
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        animation: contact-box-shadow-animation 2.5s linear infinite;

    }
    .mainAboutContentDiv{
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        width: 60vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        justify-content: space-around;
 padding: 2%;
 border-radius: 7px;
        box-shadow: 5px 5px 10px black;
        animation: contact-box-shadow-animation 2.5s linear infinite;
        margin-bottom: 3%;
        height: 120vh;
        
    }
    .aboutBackgroundDiv{
        display: flex;
        position: relative;
        flex-direction: column;
       justify-content: space-between;
       /* overflow-y:auto; */
        height: 100%;
        width: 50%;

    }

    .aboutcodingKnowledgeDiv{
        
        background-color: white;
        border-radius: 16px;
        

        height: 100%;
        width: 25%;


    }
    .aboutCodingKnowledgeFlexDiv{
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        

    }

    .aboutBackgroundDivMaterial{
       
        width: 100%;
        height: 45%;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        margin-bottom: 10%;
        padding: 4%;
        overflow-y:auto;
        

    }


    @keyframes contact-box-shadow-animation {
        0%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
        50%{
            box-shadow: 0 0 3rem 0 rgba(86,198,254,1); 
        }
        100%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
    }

    .indivisualCodingKnowledgePlatform{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 40px;
        margin: 5%;
        background: rgba(255, 255, 255, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
    }
    .indidivisualCodingKnowledgeImage{
        position: relative;
        left: 5%;
        height: 100%
    }
    .indivisualCodingKnowledgeText{
        position: relative;
        right: 2%;
        top: -17%;
        font-size: 8px;

    }
    .codingKnowledgeHeader{
        font-size: medium;
    }
    
  }
  
  @media only screen and (max-width: 480px) {
    /* For mobile phones: */

    .educationDiv{
        margin: 2%;
        margin-bottom: 7%;
        padding: 3%;
        text-align: left;
        background-color: white;
        border-radius: 20px;
        color: black;
        cursor: pointer;

    }
    .educationHeaderDiv{
        width: 98%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .educationImg{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .educationParagrpah{
        color: black;
        margin-bottom: .2%;

    }
    .regularPTag{
        color: black;
        font-weight: 300;
    }

    .aboutMainImageAndHeaderDiv{
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 100vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        justify-content: space-between;
        align-items: center;
    }
    p{
        color: white;
        text-align: left;
        font-size: large;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .aboutTextDiv{
        margin: 3%;
    }

    .aboutMainHeader{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
    }
    .aboutMainImage{
        /* min-width: 20vw; */
        /* max-height: 450px; */
        object-fit: cover;
        max-width: 100vw;
        max-height: 29vh;
    }

    .mainAboutVideo{
        width: 100%;
        height: 550px;
        border: none;
        animation: contact-box-shadow-animation 2.5s linear infinite;
    }

    .littleBigPlanetVideoTitle{
        font-size: 30px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }



    .aboutTitle{
        font-size: 40px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .aboutTitle2{
        font-size: 20px;
        background: rgb(255,255,255);
        background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .educationalBackgroundandWorkTitles{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutBioTitle{
        font-size: 32px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(86,198,254,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: left;
    }

    .blackgradientBackground{
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        animation: contact-box-shadow-animation 2.5s linear infinite;

    }
    .mainAboutContentDiv{
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        width: 90vw;
        background: rgb(4,4,4);
        background: linear-gradient(9deg, rgba(4,4,4,1) 0%, rgba(59,59,59,1) 100%);
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        justify-content: space-around;
 padding: 2%;
 border-radius: 7px;
        box-shadow: 5px 5px 10px black;
        animation: contact-box-shadow-animation 2.5s linear infinite;
        margin-bottom: 3%;
        height: 120vh;
        
    }
    .aboutBackgroundDiv{
        display: flex;
        position: relative;
        flex-direction: column;
       justify-content: space-between;
       /* overflow-y:auto; */
        height: 100%;
        width: 50%;

    }

    .aboutcodingKnowledgeDiv{
        
        background-color: white;
        border-radius: 16px;
        

        height: 50%;
        width: 25%;


    }
    .aboutCodingKnowledgeFlexDiv{
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        

    }

    .aboutBackgroundDivMaterial{
       
        width: 100%;
        height: 45%;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        margin-bottom: 10%;
        padding: 4%;
        overflow-y:auto;
        

    }


    @keyframes contact-box-shadow-animation {
        0%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
        50%{
            box-shadow: 0 0 3rem 0 rgba(86,198,254,1); 
        }
        100%{
            box-shadow: 0 0 1rem 0 rgba(86,198,254,1); 
        }
    }

    .indivisualCodingKnowledgePlatform{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 95%;
        height: 40px;
        margin: 5%;
        background: rgba(255, 255, 255, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
    }
    .indidivisualCodingKnowledgeImage{
        position: relative;
        margin: auto;
        height: 100%
    }
    .indivisualCodingKnowledgeText{
       display: none;

    }
    .codingKnowledgeHeader{
        font-size: 11px;
    }
   
    
  }